@import './defaults.module.scss';
@import './webfonts/fonts.module.scss';

.footer {
	background-color: var(--color-primary);
	color: white;
}

.contact {

	button {
		background-color: var(--color-tertiary);
		color: white;
	}
}

.contact-icon {
	background-color: var(--color-secondary);
	height: 56px !important;
	width: 56px !important;
	border-radius: 50%;
	margin: 0 15px;
	color: white;
	padding: 15px;

	display: flex;
	align-items: center;
	justify-content: center;

	a {
		text-decoration: none;
		color: white;
	}
}

.hr {
	border: 0;
	height: 2px;
	background-color: var(--color-tertiary);
}